---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "My Astro Learning Blog";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "mainImage"] });
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      response.contents.map((content: any) => (
        <BlogPost
          url={`/${content.id}`}
          title={content.title}
          image={content.mainImage.url}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
